#content-wrapper {
    padding: 3vh 0;
}

#content-wrapper h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 3vh 0;
    background-color: #eeeeee;
    border: solid #000000;
    border-width: 0.1rem 0;
}

.definitions div {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px;
}

b {
    font-weight: bold;
}

.definitions li {
    padding: 10px;
}

p.citation {
    padding: 3vh 2vw;
    font-size: 1.2rem;
    text-align: center;
}