#content-wrapper {
    padding: 3vh 0;
}

#content-wrapper h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 3vh 0;
    background-color: #eeeeee;
    border: solid #000000;
    border-width: 0.1rem 0;
}

#content-wrapper h2 {
    font-size: 1.8rem;
}

#content-wrapper strong {
    font-weight: bold;
}

section.signal-type-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3vh;
}

.rhythm-info {
    margin: 2vh 0;
    border: 0.1rem solid #000000;
    border-radius: 0.5rem;
    overflow: hidden;
    width: 42%;
    display: flex;
    flex-direction: column;
}

.rhythm-info header {
    color: #ffffff;
    background-color: #1167b1;
    border: solid #000000;
    border-width: 0 0 0.15rem 0;
    padding: 3vh 0 1.5vh 0;
    text-align: center;
}

.rhythm-info figure {
    padding: 3vh 1vw;
}

.rhythm-info img {
    display: block;
    margin: auto;
}

.rhythm-info figcaption {
    padding: 1vh 0;
    display: flex;
    justify-content: center;
}

.rhythm-info p {
    max-width: 80%;
}

p.citation {
    padding: 3vh 2vw;
    font-size: 1.2rem;
    text-align: center;
}
