article h1, article  h2 {
    margin-bottom: 1.5vh;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

article {
    box-shadow: 0.1rem 0.1rem 0.3rem;
}

#content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2vh 1vw;
}

#welcome-wrapper {
    margin: 1vh 1vw;
    padding: 4vh 2vw;
    border-style: solid;
    border-width: 0.1vh;
    border-color: #3f3f3f;
    border-radius: 0.5rem;
    background-color: #dddddd;
}

#welcome-wrapper header {
    text-decoration: underline;
}

#page-info-container {
    display: flex;
    justify-content: space-between;
}

#page-info-container article {
    flex-basis: 20%;
    margin: 1vh 1vw;
    border-style: solid;
    border-width: 0.1vh;
    border-color: #3f3f3f;
    border-radius: 0.5rem;
    background-color: #dddddd;
}

#page-info-container header {
    padding: 4vh 2vw 1vh 2vw;
    text-decoration: underline;
}

#page-info-container p {
    padding: 1vh 2vw 4vh 2vw;
}
