#page-footer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding: 2.5vh 1vw;
    border: solid;
    border-width: 0.2vh 0 0 0;
    background-color: #dddddd;
}

#page-footer small {
    font-size: 0.75rem;
    align-self: center;
}

#footer-nav {
    display: flex;
    align-self: center;
    margin-bottom: 1.5vh;
    padding-bottom: 1.5vh;
    border-style: solid;
    border-color: #cccccc;
    border-bottom-width: 0.2vh;
}

#footer-nav div {
    display: flex;
    flex-direction: column;
    padding: 0 2vw;
}

#footer-nav h6 {
    font-size: 1.1rem;
    margin-bottom: 1.5vh;
    text-decoration: underline;
    text-decoration-color: #bbbbbb;
}
